## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.2906,-156.7887,30.22,80,90,14.97,overcast clouds
1,1,Rocha,UY,-34.4833,-54.3333,53.92,80,94,6.24,moderate rain
2,2,Cabo San Lucas,MX,22.8909,-109.9124,86.50,88,90,4.61,overcast clouds
3,3,Vaini,TO,-21.2000,-175.2000,77.16,83,75,12.66,broken clouds
4,4,Atuona,PF,-9.8000,-139.0333,78.13,73,20,20.78,few clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rocha,UY,-34.4833,-54.3333,53.92,80,94,6.24,moderate rain
5,5,Mataura,NZ,-46.1927,168.8643,53.47,79,100,3.02,overcast clouds
6,6,Thompson,CA,55.7435,-97.8558,62.38,48,32,3.09,scattered clouds
7,7,Manyana,BW,-23.4000,21.7167,53.62,24,0,9.73,clear sky
9,9,Cidreira,BR,-30.1811,-50.2056,62.91,76,93,8.43,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
689,689,Mwinilunga,ZM,-11.7358,24.4293,64.27,88,100,1.25,light rain
695,695,Aliwal North,ZA,-30.6937,26.7114,46.36,67,2,9.28,clear sky
698,698,Katete,UG,-0.7818,29.7544,62.53,100,100,0.87,moderate rain
701,701,Almaznyy,RU,48.0448,40.0450,48.34,57,55,10.33,broken clouds
705,705,Ulefoss,NO,59.2838,9.2646,55.18,95,100,3.69,light rain

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rocha,UY,-34.4833,-54.3333,53.92,80,94,6.24,moderate rain
5,5,Mataura,NZ,-46.1927,168.8643,53.47,79,100,3.02,overcast clouds
6,6,Thompson,CA,55.7435,-97.8558,62.38,48,32,3.09,scattered clouds
7,7,Manyana,BW,-23.4000,21.7167,53.62,24,0,9.73,clear sky
9,9,Cidreira,BR,-30.1811,-50.2056,62.91,76,93,8.43,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
689,689,Mwinilunga,ZM,-11.7358,24.4293,64.27,88,100,1.25,light rain
695,695,Aliwal North,ZA,-30.6937,26.7114,46.36,67,2,9.28,clear sky
698,698,Katete,UG,-0.7818,29.7544,62.53,100,100,0.87,moderate rain
701,701,Almaznyy,RU,48.0448,40.0450,48.34,57,55,10.33,broken clouds
705,705,Ulefoss,NO,59.2838,9.2646,55.18,95,100,3.69,light rain

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rocha,UY,53.92,moderate rain,-34.4833,-54.3333,
5,Mataura,NZ,53.47,overcast clouds,-46.1927,168.8643,
6,Thompson,CA,62.38,scattered clouds,55.7435,-97.8558,
7,Manyana,BW,53.62,clear sky,-23.4000,21.7167,
9,Cidreira,BR,62.91,overcast clouds,-30.1811,-50.2056,
11,Dunedin,NZ,53.80,overcast clouds,-45.8742,170.5036,
12,Oktyabrskiy,RU,45.55,overcast clouds,54.4815,53.4710,
15,Kuryk,KZ,55.65,broken clouds,43.2000,51.6500,
17,Tocopilla,CL,63.14,few clouds,-22.0920,-70.1979,
19,Flin Flon,CA,62.53,broken clouds,54.7682,-101.8650,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rocha,UY,53.92,moderate rain,-34.4833,-54.3333,Beleza Pura B&B
5,Mataura,NZ,53.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
6,Thompson,CA,62.38,scattered clouds,55.7435,-97.8558,Burntwood Hotel
9,Cidreira,BR,62.91,overcast clouds,-30.1811,-50.2056,Hotel Castelo
11,Dunedin,NZ,53.80,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
...,...,...,...,...,...,...,...
679,Okha,RU,48.33,scattered clouds,53.5739,142.9478,Империя
684,Danszentmiklos,HU,53.58,broken clouds,47.2149,19.5469,Botanica Vendégház
689,Mwinilunga,ZM,64.27,light rain,-11.7358,24.4293,Kwakuwahi Lodge
695,Aliwal North,ZA,46.36,clear sky,-30.6937,26.7114,Queens Terrace B&B
705,Ulefoss,NO,55.18,light rain,59.2838,9.2646,Ulefoss Brygge - Bobilparkering

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))